ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

h2,
h3,
a {
  color: #34495e;
}

a{
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 2px 2px 5px #888888;;
}